.jumbotron {
    margin-bottom: 0px;
    background-image: url(../ip2/assets/backgrounds/landing.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}
#fastfoodpics {
    width: 540px;
    border: 10px solid white;
    margin: 0px;
    float:left;

}
#drinkpics{
    height: 410px;
    border: 10px solid white;
    margin: 0px;
    float:right;
}
.fastfood{
    float:right;
    width: 500px;
    height: 400px;
}
#drinks{
  float:left;
  width:500px;
  height:410px;
}
.column1{
    float: left;
    width: 25%;
}
.column2{
    float:left;
    width: 25%;
}
.column3{
    float: left;
    width: 25%;
}

.column4{
    float: left;
    width: 25%;
}
#happyhour{
    height: 105px;
    background-color: #EDE9E9;
}
#partytime{
    height: 105px;
    background-color: #FF5733;
    width: 350px;
}
li{
  list-style: none;
}
#beef{
   background-image: url(../ip2/assets/backgrounds/foodsBg.jpg);
   margin-bottom: 0px;
   background-position: 0% 25%;
   background-size: cover;
   background-repeat: no-repeat;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.b{
  background-image: url(../ip2/assets/backgrounds/foodsBg.jpg);
}
